<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body{
            width: 900px;
            margin: auto;
        }
        a{
            text-decoration: none;
            color: #444;
        }
        .header{
            display: flex;
            align-items: center;
        }
        .header h1{
            font-size: 38px;
        }
        .header .nav-register{
            margin-left: auto;
        }
        .header .nav-register a{
            display: inline-block;
            padding: 6px 10px;
            background-color: rgb(43, 165, 148);
            color: #fff;
            border-radius: 10px;
            transition: .2s;
            font-size: 18px;
            font-weight: bolder;
            letter-spacing: .1rem;
        }
        .header .nav-register a:hover{
            background-color: rgb(206, 102, 53);
        }
        .comment{
            margin-top: 50px;
        }
        .comment .item{
            border: 1px solid #ccc;
            padding: 20px;
            box-shadow: 0 0 3px #aaa;
            margin-bottom: 15px;
            display: flex;
        }
        .comment h2{
            color: #aa0040;
        }
        .comment p{
            margin-top: 5px;
            line-height: 1.4;
        }
        .update-area{
            margin-left: auto;
            margin-right: 10px;
            display: flex;
            align-items: center;
        }
        .update-area a{
            border: 1px solid #aa0040;
            padding: 10px;
            transition: .2s;
            margin: 0 0 0 16px;
        }
        .update-area a:hover{
            background-color: #000;
            color: #fff;
        }
        .add-comment{
            margin-top: 20px;
            width: 100%;
        }
        .add-comment input{
            display: block;
            padding: 10px;
        }
        .load-more{
            display: block;
            margin: 40px auto;
            padding: 10px 20px;
            background-color: #fff;
            border: none;
            box-shadow: 0 0 5px #aaa;
            transition: .2s;
        }
        .load-more:hover{
            background-color: #999;
            color: #fff;
            transform: scale(1.2);
        }
    </style>
</head>
<body>
    <%= errorMessage %>
<%- include('template/header') %>
<input id="username" type="text" data-username="<%= username %>" hidden>
<% if(username){ %>
    <form class="add-comment" method="POST" action="/comment">
        <h2> <%= username %></h2>
        <textarea name="content" cols="50" rows="8"></textarea>
        <input type="submit" value="新增留言">
    </form>
<% } %>

<% if(comments){ %>
    <div class="comment">
        <% comments.forEach(i=>{ %>
            <div class="item" data-id="<%= i.id %>">
                <div>
                    <h2><%= i.nickname %></h2>
                    <p><%= i.content %></p>
                </div>
                <div class="update-area">
                    <% if(username === i.username){ %>
                        <a href="/update_comment/<%= i.id %>">編輯</a>
                        <a href="/delete_comment/<%= i.id %>">刪除</a>
                    <% } %>
                </div>
            </div>
        <% }) %>
    </div>
    <button class="load-more">載入更多</button>
<% }else{} %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(()=>{
    
    let pageId = document.querySelectorAll('.item:last-of-type')[0].dataset.id;
    const loadBtn = document.querySelector('.load-more');
    const commentItem = document.querySelector('.comment');
    loadBtn.addEventListener('click', loadMore);
    console.log(pageId);

    function getMore(before, cb){
        $.ajax({
            url: `http://localhost:9999/api/comments/${before}`,
            method: 'GET'
        }).done(data=>{
            cb(data);
        }).fail(err=>{
            cb(err);
        })
    }

    function loadMore (){
        getMore(pageId, (data)=>{
            let str = ''
            console.log(data);
            if(data.length < 5){
                loadBtn.style.display = 'none';
                for(let i = 0; i < data.length ; i++){
                if($('#username') && $('#username')[0].dataset.username === data[i].username) {
                str += `<div class="item" data-id="${data[i].id}">
                        <div>
                            <h2>${data[i].nickname}</h2>
                            <p>${data[i].content}</p>
                        </div>
                        <div class="update-area">
                                <a href="/update_comment/${data[i].id}">編輯</a>
                                <a href="/delete_comment/${data[i].id}">刪除</a>
                        </div>
                    </div>`
                }else{
                    str += `<div class="item" data-id="${data[i].id}">
                                <div>
                                    <h2>${data[i].nickname}</h2>
                                    <p>${data[i].content}</p>
                                </div>
                            </div>`
                }
            }
            
                return $('.comment').append(str);
            }
            for(let i = 0; i < data.length-1 ; i++){
                if($('#username') && $('#username')[0].dataset.username === data[i].username) {
                str += `<div class="item" data-id="${data[i].id}">
                        <div>
                            <h2>${data[i].nickname}</h2>
                            <p>${data[i].content}</p>
                        </div>
                        <div class="update-area">
                                <a href="/update_comment/${data[i].id}">編輯</a>
                                <a href="/delete_comment/${data[i].id}">刪除</a>
                        </div>
                    </div>`
                }else{
                    str += `<div class="item" data-id="${data[i].id}">
                                <div>
                                    <h2>${data[i].nickname}</h2>
                                    <p>${data[i].content}</p>
                                </div>
                            </div>`
                }
            }
            $('.comment').append(str);
            pageId = data[data.length-2].id;
        })
    }
    
})
</script>
</body>
</html>